<h3>Edit/Delete Student with ID:</h3>

<div class="form-group",>
    <label for="student_id">Student ID:</label>
    <input type="text" class="form-control" id="student_id" ng-model="student_id">
</div>

<p><button type="button" class="btn btn-primary" ng-click="returnStudents()"> Get Student Info </button> </p>

    <div class='row'>       <!-- begin bootstrap grid section for 2 columns -->
        <div class="col-md-6">  <!-- begin left column -->

        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" class="form-control" id="first_name" ng-model="first_name">
        </div>

        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" class="form-control" id="last_name" ng-model="last_name">
        </div>

        <div class="form-group">
            <label for="hrs_completed">Hrs Completed:</label>
            <input type="text" class="form-control" id="hrs_completed" ng-model="hrs_completed">
        </div>

        <div class="form-group">
            <label for="hrs_attempted">Hrs Attempted:</label>
            <input type="text" class="form-control" id="hrs_attempted" ng-model="hrs_attempted">
        </div>
    </div> <!-- end left column -->

    <div class="col-md-6"> <!-- begin right column -->

        <div class="form-group">
            <label for="gpa_points">GPA Points:</label>
            <input type="text" class="form-control" id="gpa_points" ng-model="gpa_points"'>
        </div>

        <div class="form-group">
            <label for="major">Major:</label>
            <input type="text" class="form-control" id="major" ng-model="major">
        </div>

        <div class="form-group">
            <label for="advisor_id">Advisor ID:</label>
            <input type="text" class="form-control" id="advisor_id" ng-model="advisor_id">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" ng-model="email">
        </div>
    </div> <!-- end right column -->
        
        <button type="button" class="btn btn-primary" ng-click="editRecord()">Update</button> &nbsp; 
        <button type="button" class="btn btn-primary" ng-click="deleteRecord()">Delete</button>

        <p>{{status}}</p>
        
        
    
